body{
     background: #cccccc
}
h1 {
   text-align: center;
}
p { 
   text-align: center;
}
#atraves{
     font-size: 20px;
}

#delacruz {
     width: 100%;
     
}

#delacruz2.jpeg {
      width: 200%;
}
