body{
     background: #cccccc
}



h1 {
   text-align: center;
}


p { 
   text-align: center;
}


#atraves{
         text-align:left;
     font-size: 20px;color:blue
}

#delacruz {

     width: 100%;
     
}

#delacruz {
      width: 200%;
}
